<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/images/favicon.ico">

    <title>{{page_title}}</title>

    <script src="/node_modules/noty/lib/noty.min.js"></script>

    <link href="/node_modules/noty/lib/noty.css" rel="stylesheet">
    <link href="/node_modules/noty/lib/themes/bootstrap-v4.css" rel="stylesheet">

    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="/node_modules/font-awesome/css/font-awesome.min.css" ref="stylesheet">

    <link href="/assets/css/styles.css" rel="stylesheet">
  </head>
  <body>
