
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/images/favicon.ico">

    <title>{{page_title}}</title>

    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/assets/css/styles.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-newgame" method="post" action="/startnewgame">
      <h1 class="h1 mb-2 font-weight-normal">Tic Tac Toe</h1>
      <h3 class="h5 mb-3 font-weight-normal">Please Enter Player Names</h3>
      <label for="playerOne" class="sr-only">Player One</label>
      <input type="text" name="playerOne" id="playerOne" class="form-control" placeholder="Player One" required autofocus>
      <label for="playerTwo" class="sr-only">Player Two</label>
      <input type="text" name="playerTwo" id="playerTwo" class="form-control" placeholder="Player Two" required>
      <div class="mb-3">
        <button class="margin-top-10 btn btn-lg btn-primary btn-block" type="submit">Start Game</button>
      </div>
      <p class="mt-5 mb-3 text-muted">&copy; {{"now"|date('Y')}}</p>
    </form>
  </body>
</html>
