html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
}

.form-newgame {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-newgame .checkbox {
  font-weight: 400;
}
.form-newgame .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-newgame .form-control:focus {
  z-index: 2;
}
.form-newgame input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.margin-top-10{
  margin-top: 10px;
}

h1 {
  text-align: center;
}
td {
  width: 100px;
  height: 100px;
}
table {
  margin: 5px auto;
}
.vertial-border {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.horizontal-border {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.gameboard{
    padding:5px;
}

.bg-white{
    background-color:#FFF;
}

.gamesurface{
    border: 1px solid #ccc;
}

.gameboard ul.gamesurface li{
    margin:5px;
    background-color:#ccc;
}

.game_stats{
    margin-bottom:10px;
}

#gamesurface tr td{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.hide{
    display:none;
}
